In [1]:
import numpy as np
import pandas as pd
import json

In [6]:
business=pd.read_csv("yelp_academic_dataset_business.csv")

/home/jia_lu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (28,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
business.columns

Index(['attributes.Corkage', 'hours.Thursday', 'attributes.BusinessParking',
       'attributes.AcceptsInsurance', 'categories', 'attributes.AgesAllowed',
       'attributes.WheelchairAccessible', 'attributes.DriveThru',
       'attributes.GoodForKids', 'attributes.RestaurantsDelivery',
       'attributes.RestaurantsAttire', 'attributes', 'postal_code',
       'hours.Wednesday', 'is_open', 'stars', 'attributes.Smoking',
       'attributes.BYOBCorkage', 'hours', 'state',
       'attributes.DietaryRestrictions', 'attributes.GoodForMeal', 'address',
       'attributes.Alcohol', 'attributes.HappyHour', 'attributes.Caters',
       'business_id', 'hours.Tuesday', 'attributes.RestaurantsCounterService',
       'attributes.ByAppointmentOnly', 'hours.Saturday',
       'attributes.RestaurantsGoodForGroups', 'longitude', 'hours.Monday',
       'attributes.GoodForDancing', 'hours.Sunday', 'attributes.Ambience',
       'attributes.CoatCheck', 'attributes.Music', 'name',
       'attributes.DogsAllowed', 'city', 'attributes.BikeParking',
       'attributes.BusinessAcceptsCreditCards', 'attributes.Open24Hours',
       'latitude', 'attributes.BestNights', 'attributes.HasTV',
       'attributes.WiFi', 'attributes.RestaurantsTakeOut',
       'attributes.RestaurantsPriceRange2',
       'attributes.RestaurantsReservations', 'attributes.OutdoorSeating',
       'attributes.BusinessAcceptsBitcoin', 'attributes.BYOB',
       'attributes.NoiseLevel', 'attributes.HairSpecializesIn',
       'attributes.RestaurantsTableService', 'hours.Friday', 'review_count'],
      dtype='object')

In [8]:
Business_AZ = business[business['state'] == 'AZ'][['business_id', 'state', 'city','categories', 'review_count']].copy()
us_restaurants=Business_AZ[Business_AZ.categories.str.contains('Restaurants', na=False)].copy()

In [9]:
us_restaurants['category']=np.nan
us_restaurants.loc[us_restaurants.categories.str.contains('American', na=False, regex=False),'category'] = 'American'
us_restaurants.loc[us_restaurants.categories.str.contains('Mexican', na=False, regex=False), 'category'] = 'Mexican'
us_restaurants.loc[us_restaurants.categories.str.contains('Italian', na=False, regex=False), 'category'] = 'Italian'
us_restaurants.loc[us_restaurants.categories.str.contains('Japanese', na=False, regex=False), 'category'] = 'Japanese'
us_restaurants.loc[us_restaurants.categories.str.contains('Chinese', na=False, regex=False), 'category'] = 'Chinese'
us_restaurants.loc[us_restaurants.categories.str.contains('Thai', na=False, regex=False), 'category'] = 'Thai'
us_restaurants.loc[us_restaurants.categories.str.contains('Mediterranean', na=False, regex=False), 'category'] = 'Mediterranean'
us_restaurants.loc[us_restaurants.categories.str.contains('French', na=False, regex=False), 'category'] = 'French'
us_restaurants.loc[us_restaurants.categories.str.contains('Vietnamese', na=False, regex=False), 'category'] = 'Vietnamese'
us_restaurants.loc[us_restaurants.categories.str.contains('Greek', na=False, regex=False),'category'] = 'Greek'
us_restaurants.loc[us_restaurants.categories.str.contains('Indian', na=False, regex=False),'category'] = 'Indian'
us_restaurants.loc[us_restaurants.categories.str.contains('Korean', na=False, regex=False),'category'] = 'Korean'
us_restaurants.loc[us_restaurants.categories.str.contains('Hawaiian', na=False, regex=False),'category'] = 'Hawaiian'
us_restaurants.loc[us_restaurants.categories.str.contains('African', na=False, regex=False),'category'] = 'African'
us_restaurants.loc[us_restaurants.categories.str.contains('Spanish', na=False, regex=False),'category'] = 'Spanish'
us_restaurants.loc[us_restaurants.categories.str.contains('Middle_eastern', na=False, regex=False),'category'] = 'Middle_eastern'
us_restaurants.loc[us_restaurants.categories.str.contains('Pizza', na=False, regex=False), 'category'] = 'Pizza'
us_restaurants.loc[us_restaurants.categories.str.contains('Burgers', na=False, regex=False), 'category'] = 'Burgers'
us_restaurants.loc[us_restaurants.categories.str.contains('Barbeque', na=False, regex=False), 'category'] = 'Barbeque'
us_restaurants.loc[us_restaurants.categories.str.contains('Sushi Bars', na=False, regex=False), 'category'] = 'Sushi Bars'
us_restaurants.loc[us_restaurants.categories.str.contains('Sandwiches', na=False, regex=False), 'category'] = 'Sandwiches'
us_restaurants.loc[us_restaurants.categories.str.contains('Chicken Wings', na=False, regex=False), 'category'] = 'Chicken Wings'

In [10]:
us_restaurants['category'].value_counts()

Mexican          1784
Sandwiches       1759
American         1513
Burgers          1122
Pizza             962
Chicken Wings     623
Chinese           565
Sushi Bars        363
Barbeque          309
Italian           280
Greek             199
Thai              176
Indian            150
Mediterranean     143
Vietnamese        139
Japanese          104
French             61
Hawaiian           57
Korean             52
Spanish            26
African            21
Name: category, dtype: int64

In [11]:
American = ['American', 'Pizza', 'Burgers','Barbeque', 'Sandwiches', 'Chicken Wings']
Mexican = ['Mexican']
Asian = ['Chinese', 'Sushi Bars', 'Thai', 'Vietnamese', 'Japanese', 'Korean']

us_restaurants['cuisine'] = np.nan

def cuisine(category):
    if category in American:
        return 'American'
    elif category in Mexican:
        return 'Mexican'
    elif category in Asian:
        return 'Asian'
    else:
        return 'Other'
    
us_restaurants['cuisine'] = us_restaurants['category'].apply(cuisine)

In [12]:
us_restaurants['cuisine'].value_counts()

American    6288
Other       2653
Mexican     1784
Asian       1399
Name: cuisine, dtype: int64

In [13]:
us_restaurants[us_restaurants['cuisine'] != 'Other'].head()

,business_id,state,city,categories,review_count,category,cuisine
44,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican
46,xFc50drSPxXkcLvX5ygqrg,AZ,Glendale,"Burgers, Fast Food, American (New), Restaurant...",12,Burgers,American
50,Sd75ucXKoZUM2BEfBHFUOg,AZ,Mesa,"Chinese, Restaurants",13,Chinese,Asian
89,j9bWpCRwpDVfwVT_V85qeA,AZ,Mesa,"Food, Ethnic Food, Specialty Food, Restaurants...",130,Thai,Asian
100,JcsZvx-4yovFgCXOfd6KMg,AZ,Phoenix,"Restaurants, Sandwiches",4,Sandwiches,American

In [15]:
az_restaurants = us_restaurants[us_restaurants['cuisine'] != 'Other'].copy()

In [3]:
yelp_reviews = []
for line in open('yelp_academic_dataset_review.json', 'r'):
    yelp_reviews.append(json.loads(line))

reviews = pd.DataFrame.from_dict(yelp_reviews)

In [4]:
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,2.0,5,0,0,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,UmFMZ8PyXZTY2QcwzsfQYA,nIJD_7ZXHq-FX8byPMOkMQ,lbrU8StCq3yDfr-QMnGrmQ,1.0,1,1,0,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5.0,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,1.0,0,0,0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,6TdNDKywdbjoTkizeMce8A,UgMW8bLE0QMJDCkQ1Ax5Mg,IS4cv902ykd8wj1TR0N3-A,4.0,0,0,0,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57

In [5]:
reviews.stars.value_counts()

5.0    3586460
4.0    1673404
1.0    1283897
3.0     842289
2.0     635072
Name: stars, dtype: int64

In [16]:
review_data = pd.merge(az_restaurants, reviews, on = 'business_id', how = 'inner')

In [17]:
review_data.head()

,business_id,state,city,categories,review_count,category,cuisine,review_id,user_id,stars,useful,funny,cool,text,date
0,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,gRmiezddJOJpE2BrtvEGEQ,MGr8SVevx0kOoNUayx4STw,4.0,0,0,0,Great basics. Beans are made right. Tortillas ...,2013-03-24 05:34:59
1,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,CZEhIaxYGjOjGsqEQ31g_Q,mUsOaUUWRHN9eWUd3tjwag,3.0,0,1,0,Automatic star awarded for having a salsa bar ...,2010-12-03 21:16:34
2,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,KHu4YThiCE48L1azPqiPDA,DIaW2YAZ5-io7UGKnwF9tA,5.0,0,0,0,Got the #7 Enchilada and Burrito great food an...,2014-10-01 15:18:13
3,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,Anvmp37r5oeB2NmipFlr0Q,-swTLI5xzaCLxhf5ZqGfsg,4.0,0,0,0,good food for the price. I like their new loca...,2013-02-06 01:06:04
4,Ga2Bt7xfqoggTypWD5VpoQ,AZ,Tempe,"Mexican, Restaurants",9,Mexican,Mexican,9H3Zk2jVGP60ccdE0Eouag,XObVh8__kgp1imtsNyLezQ,4.0,1,0,0,One of the better breakfast burritos I have ha...,2011-05-12 16:21:40

In [18]:
review_data['city'].value_counts()

Phoenix            414658
Scottsdale         216440
Tempe              104645
Mesa                92892
Chandler            85822
Gilbert             72559
Glendale            57531
Peoria              32842
Surprise            20256
Goodyear            17452
Avondale            11755
Cave Creek           9451
Fountain Hills       4467
Litchfield Park      3776
Paradise Valley      2952
Sun City             1592
Queen Creek          1497
Laveen               1421
Tolleson             1418
Carefree             1213
Buckeye              1164
El Mirage            1132
Anthem                840
Ahwatukee             536
Guadalupe             440
Sun City West         431
Higley                352
Sun Lakes             333
Youngtown             294
Laveen Village        261
Apache Junction       250
laveen                226
Scottdale             204
GILBERT               115
PHOENIX               103
Sedona                 99
Fort McDowell          83
Rio Verde              45
Central                39
Waddell                25
Fort Mcdowell          16
Pheonix                16
Central City           15
Pheonix AZ             11
Gelndale               10
Mes                     9
Maricopa                6
MESA                    5
Somerton                3
Phoenix Valley          3
Name: city, dtype: int64

In [21]:
review_data['cuisine'].value_counts()

American    766196
Asian       203189
Mexican     192320
Name: cuisine, dtype: int64

In [23]:
review_data.to_csv('/home/jia_lu/project/review_data.csv',index=False, header=True)

In [22]:
import sys
sys.path

['/home/jia_lu/project',
 '/home/jia_lu/anaconda3/lib/python37.zip',
 '/home/jia_lu/anaconda3/lib/python3.7',
 '/home/jia_lu/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/home/jia_lu/anaconda3/lib/python3.7/site-packages',
 '/home/jia_lu/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/home/jia_lu/.ipython']